@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  text-shadow: 2px 0px 0px rgba(0,0,0,0.22);
}


/****************************** Navigation Bar Design *******************************/
.glassmorphism{
  background: rgba(106, 17, 248, 0.185);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/****************************** Our Key Fearutes Background *******************************/
.KeyFeartures{
  background-image: url(https://static.vecteezy.com/system/resources/previews/009/668/661/original/organic-blob-shapes-hand-drawn-illustration-free-png.png);
  background-repeat: no-repeat;
}


