/* waveform.css */

.waveform-container {
  width: 100%;
  height: 200px;
}

.waveform-play-pause {
  margin-top: 10px;
}

.first-letter-large::first-letter {
  font-size: 5em;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}
/* blog page font change  */
.blog-content-font {
  font-family: "Times New Roman", Times, serif;
}
.blog-content-body .ql-video {
  width: 100%;
  @apply aspect-video;
}
/* .blog-content-body ul, ol {
  all:initial;
  list-style-type: disc;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
} */

/* Add any additional styles for the waveform player */
:root {
  --random-hue: 107; /* Use 'initial' as a placeholder value */
}
.avatar-background{
  background-color: hsl(var(--random-hue), 50%, 50%) ;
}
